<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Schedule</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css"></head>
<body>
    <h1>Fan Schedule</h1>
    <form action="/schedule" method="post">
        
        <input type="date" id="date_complete" name="date_complete" required><br><br>

        <input type="time" id="time_complete" name="time_complete" required><br><br>

        <select id="command" name="command" required>
            <option>Action</option>
            <option value="Light_On">Light On</option>
            <option value="Light_Off">Light Off</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Fan_Off">Fan Off</option>
            <option value="1h">1h-Off</option>
            <option value="2h">2h-Off</option>
            <option value="4h">4h-Off</option>
        </select><br><br>
        <input type="submit" value="Schedule">
    </form>

    <div class="container">
        <h1 class="mt-5">Tasks</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Job Index</th>
                    <th>Job ID</th>
                    <th>Week Day</th>
                    <th>Day</th>
                    <th>Month</th>
                    <th>Hour</th>
                    <th>Minute</th>
                    <th>Action</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job['Job Index'] }}</td>
                    <td>{{ job['Job ID'] }}</td>
                    <td>{{ job['Day of Week'] }}</td>
                    <td>{{ job['Day of Month'] }}</td>
                    <td>{{ job['Month'] }}</td>
                    <td>{{ job['Hour'] }}</td>
                    <td>{{ job['Minute'] }}</td>
                    <td>{{ job['Command'] }}</td>
                    <td>
                        <form action="{{ url_for('delete_job', job_id=job['Job ID']) }}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>