<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Schedule</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css"></head>
<body>
    <!-- SIMPLE DATE CONFIG -->
    <div class="container">
        <h1>Fan Schedule</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="simple-tab" data-toggle="tab" href="#simple" role="tab" aria-controls="simple" aria-selected="true">Simple Config</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">Advanced Config</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="remote-tab" data-toggle="tab" href="#remote" role="tab" aria-controls="remote" aria-selected="false">Remote</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="simple" role="tabpanel" aria-labelledby="simple-tab">
                <form action="/schedule" method="post">
                    <input type="date" id="date_complete" name="date_complete" required><br><br>

                    <input type="time" id="time_complete" name="time_complete" required><br><br>

                    <select id="command" name="command" required>
                        <option>Action</option>
                        <option value="Light_On">Light On</option>
                        <option value="Light_Off">Light Off</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Fan_Off">Fan Off</option>
                        <option value="1h">1h-Off</option>
                        <option value="2h">2h-Off</option>
                        <option value="4h">4h-Off</option>
                    </select><br><br>
                    <input type="submit" value="Schedule">
                </form>
            </div>
            <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
                <form action="/schedule" method="post">
                    <label for="day_of_week">Day of Week:</label>
                    <select id="day_of_week" name="day_of_week" required>
                        <option>Select</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                        <option value="*">All</option>
                    </select><br><br>

                    <label for="hour">Hour:</label>
                    <input type="text" id="hour" name="hour" required><br><br>

                    <label for="minute">Minute:</label>
                    <input type="text" id="minute" name="minute" required><br><br>

                    <label for="day_of_month">Day:</label>
                    <input type="text" id="day_of_month" name="day_of_month" required><br><br>

                    <label for="month">Month:</label>
                    <select id="month" name="month" required>
                        <option>Select</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                        <option value="*">All</option>
                    </select><br><br>

                    <select id="command" name="command" required>
                        <option>Action</option>
                        <option value="Light_On">Light On</option>
                        <option value="Light_Off">Light Off</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Fan_Off">Fan Off</option>
                        <option value="1h">1h-Off</option>
                        <option value="2h">2h-Off</option>
                        <option value="4h">4h-Off</option>
                    </select><br><br>
                    <input type="submit" value="Schedule">
                </form>
            </div>
            <div class="tab-pane fade" id="remote" role="tabpanel" aria-labelledby="remote-tab">
                <div class="container mt-5">
                    <h1 class="text-center mb-4">Remote Control</h1>
                    <form method="post" class="text-center">
                        <div class="mb-2" role="group">
                            <button type="submit" name="action" value="low" class="btn btn-primary">
                                <i class="fas fa-wind"></i> Low
                            </button>
                            <button type="submit" name="action" value="Medium" class="btn btn-primary">
                                <i class="fas fa-wind"></i> Medium
                            </button>
                            <button type="submit" name="action" value="High" class="btn btn-primary">
                                <i class="fas fa-wind"></i> High
                            </button>
                        </div>
                        <div class="mb-2">
                            <button type="submit" name="action" value="fan_off" class="btn btn-danger">
                                <i class="fas fa-power-off"></i> Fan Off
                            </button>
                        </div>
                        <div class="mb-2" role="group">
                            <button type="submit" name="action" value="1h" class="btn btn-secondary">
                                <i class="far fa-clock"></i> 1h
                            </button>
                            <button type="submit" name="action" value="2h" class="btn btn-secondary">
                                <i class="far fa-clock"></i> 2h
                            </button>
                            <button type="submit" name="action" value="4h" class="btn btn-secondary">
                                <i class="far fa-clock"></i> 4h
                            </button>
                        </div>
                        <div class="mb-2" role="group">
                            <button type="submit" name="action" value="light_on" class="btn btn-warning">
                                <i class="fas fa-lightbulb"></i> Light On
                            </button>
                            <button type="submit" name="action" value="light_off" class="btn btn-warning">
                                <i class="far fa-lightbulb"></i> Light Off
                            </button>
                        </div>
                    </form>
                </div>
            </div>
                    

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <div class="container">
        <h1 class="mt-5">Tasks</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Job Index</th>
                    <th>Job ID</th>
                    <th>Week Day</th>
                    <th>Day</th>
                    <th>Month</th>
                    <th>Hour</th>
                    <th>Minute</th>
                    <th>Action</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job['Job Index'] }}</td>
                    <td>{{ job['Job ID'] }}</td>
                    <td>{{ job['Day of Week'] }}</td>
                    <td>{{ job['Day of Month'] }}</td>
                    <td>{{ job['Month'] }}</td>
                    <td>{{ job['Hour'] }}</td>
                    <td>{{ job['Minute'] }}</td>
                    <td>{{ job['Command'] }}</td>
                    <td>
                        <form action="{{ url_for('delete_job', job_id=job['Job ID']) }}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>