<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Schedule</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css"></head>
<body>
    <h1>Fan Schedule</h1>
    <form action="/schedule" method="post">
        
        <input type="date" id="date_complete" name="date_complete" required><br><br>

        <input type="time" id="time_complete" name="time_complete" required><br><br>

        <label for="command">Action:</label>
        <select id="command" name="command" required>
            <option>Select</option>
            <option value="Light_On">Light On</option>
            <option value="Light_Off">Light Off</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Fan_Off">Fan Off</option>
            <option value="1h">1h-Off</option>
            <option value="2h">2h-Off</option>
            <option value="4h">4h-Off</option>
        </select><br>
        <input type="submit" value="Schedule">
    </form>
</body>
</html>