<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Control</title>
</head>
<body>
    <form method="post">
        <button type="submit" name="action" value="low">Low</button>
        <button type="submit" name="action" value="Medium">Medium</button>
        <button type="submit" name="action" value="High">High</button>
        <button type="submit" name="action" value="fan_off">Fan Off</button>
        <button type="submit" name="action" value="1h">1h</button>
        <button type="submit" name="action" value="2h">2h</button>
        <button type="submit" name="action" value="4h">4h</button>
        <button type="submit" name="action" value="light_on">Light On</button>
        <button type="submit" name="action" value="light_off">Light Off</button>
    </form>
</body>
</html>
